.card {
  margin: 2rem 1rem;
  max-width: 420px;
  background-color: var(--card);
  border-radius: 8px;
  position: relative;
  height: 356px;
  transition: all 0.5s ease-in-out;
  overflow: hidden;
}

.card img {
  object-fit: cover;
  width: 100%;
}

.card h1 {
  margin: 0;
}

.card:hover {
  /* overflow: visible; */
  border-radius: 8px;
  height: 529px;
}

.text-container {
  text-align: left;
  padding: 0rem 2rem;
  transition: all 0.5s ease-in-out;
  background-color: var(--card);
  border-radius: 0 0 8px 8px;
  height: 100%;
  position: absolute;
  top: 229px;
}

.card:hover .text-container {
  position: absolute;
  top: 0;
  left: 0rem;
  z-index: 100;
  border-radius: 8px;
}

a {
  text-decoration: none;
  color: var(--white);
}

a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

a:active {
  text-decoration: none;
}
