:root {
  --background: #f5f5fd;
  --card: #ca634e;
  --card-variant: #f7694c;
  --title: #651614;
  --white: #fffdfd;
}

.App {
  background-color: var(--background);
}

.heading {
  padding: 6rem 4rem;
  max-width: 1200px;
  margin: auto;
}

.title {
  position: absolute;
  color: var(--card-variant);
  text-align: right;
  background-image: url(assets/cloud.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  /* text-shadow: rgb(255, 255, 255) 0px 0px 10px, rgb(142, 236, 255) 0px 0px 20px; */
}

.title h1,
.title h2 {
  margin-top: 0;
  margin-bottom: 1rem;
}

@media only screen and (max-width: 800px) {
  .title {
    padding: 8vw 14vw;
    right: 1vw;
    width: 32vw;
  }
  .title h1 {
    font-size: 3vw;
  }

  .title h2 {
    font-size: 2.5vw;
  }

  .title p {
    font-size: 2vw;
  }
}

@media only screen and (min-width: 801px) {
  .title {
    padding: 7rem 6rem;
    right: 2rem;
    width: 300px;
  }
  .title h1 {
    font-size: 42px;
  }

  .title h2 {
    font-size: 32px;
  }

  .title p {
    font-size: 18px;
  }
}

.display {
  text-align: center;
  padding-top: 60px;
  padding-bottom: 80px;
  max-width: 1080px;
  margin: auto;
  color: var(--card-variant);
}

.section {
  margin: 12rem 24vw 2rem 24vw;
}

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  overflow: visible;
}

/* Parallax scrolling */
.parallax {
  background-image: url(assets/parallax.gif);
  width: 100%;
  height: 760px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* HTML elements */
body {
  color: var(--white);
}

p {
  font-size: 16px;
  font-weight: 300;
  /* text-align: left; */
}

button {
  position: relative;
  background-color: var(--card);
  border-radius: 4px;
  border-style: none;
  box-sizing: border-box;
  font-size: 24px;
  font-weight: bold;
  color: var(--white);
  cursor: pointer;
  line-height: 20px;
  outline: none;
  padding: 1rem 2rem;
  margin-top: 2rem;
  text-align: center;
  text-decoration: none;
  transition: color 100ms;
  touch-action: manipulation;
}
